<div class="sheet">
    <header>
        <img height="100" width="100" />
        {{formField fields.name value=name}}
    </header>
    <section>
        <div class="flex-container">
            {{formField fields.home value=home}}
            {{formField fields.fur value=fur}}
            {{formField fields.age value=age}}
        </div>
        <div class="flex-container">
            {{formField fields.rank value=rank}}
            {{formField fields.cloak value=cloak}}
        </div>
        <div class="flex-container">
            {{formField fields.menthor value=menthor}}
            {{formField fields.master_artisan value=master_artisan}}
        </div>
        <div class="flex-container">
            {{formField fields.parents value=parents}}
            {{formField fields.friend value=friend}}
            {{formField fields.enemy value=enemy}}
        </div>
    </section>
    <section>
        <div class="flex-container">
            <!--
            {{formField fields.instinct value=instinct}}
            {{formField fields.belief value=belief}}
            {{formField fields.goal value=goal}}
            {{editor
                fields.instinct
                target=instinct
                editable=true
                button=false
                engine="prosemirror"
                collaborate=false
            }}
            {{editor
                fields.belief
                target=belief
                editable=true
                button=false
                engine="prosemirror"
                collaborate=false
            }}
            {{editor
                fields.goal
                target=goal
                editable=true
                button=false
                engine="prosemirror"
                collaborate=false
            }}
            -->
            <div>
                <label>Instinct</label>
                <textarea name="system.instinct">{{~instinct}}</textarea>
            </div>
            <div>
                <label>Belief</label>
                <textarea name="system.belief">{{~belief}}</textarea>
            </div>
            <div>
                <label>Goal</label>
                <textarea name="system.goal">{{~goal}}</textarea>
            </div>
        </div>
    </section>
    <section>
        <div class="flex-container abilities">
            {{formField fields.health value=health}}
            {{formField fields.will value=will}}
            <div class="nature">
                <label for="nature_current">Nature</label>
                <span><input
                        name="nature_current"
                        type="number"
                        value=""
                        min="0"
                        max="7"
                        id="nature_current"
                    /></span>
                <span class="slash"> / </span>
                <span>
                    <input
                        name="nature_max"
                        type="number"
                        value=""
                        min="0"
                        max="7"
                        id="nature_max"
                    /></span>
            </div>
        </div>
        <div class="flex-container abilities">
            <div>
                <label for="resources">Resources</label>
                <span><input
                        name="resources"
                        type="number"
                        value=""
                        min="0"
                        max="9"
                        id="resources"
                    /></span>
            </div>
            <div>
                <label for="circles">Circles</label>
                <span><input
                        name="circles"
                        type="number"
                        value=""
                        min="0"
                        max="9"
                        id="circles"
                    /></span>
            </div>
        </div>
    </section>
    <section>
        <div class="flex-container">
            <div>
                <label for="fate">Fate</label>
                <span><input
                        name="fate"
                        type="number"
                        value=""
                        min="0"
                        id="fate"
                    />
                </span>
            </div>
            <div>
                <label for="persona">Persona</label>
                <span><input
                        name="persona"
                        type="number"
                        value=""
                        min="0"
                        id="persona"
                    /></span>
            </div>
            <div>
                <label for="checks">Checks</label>
                <span><input
                        name="checks"
                        type="number"
                        value=""
                        min="0"
                        id="checks"
                    /></span>
            </div>
        </div>
    </section>
</div>