<div class="sheet">
    <header>
        <div class="flex-container">
            <img
                src="{{img}}"
                alt="{{name}}"
                data-edit="img"
                data-action="editImage"
                title="{{name}}"
                height="100"
                width="100"
            />
            {{formField fields.name value=name}}
        </div>
    </header>
    <section>
        <div class="flex-container">
            {{formField fields.home value=home}}
            {{formField fields.fur value=fur}}
            {{formField fields.age value=age}}
        </div>
        <div class="flex-container">
            {{formField fields.rank value=rank}}
            {{formField fields.cloak value=cloak}}
        </div>
        <div class="flex-container">
            {{formField fields.menthor value=menthor}}
            {{formField fields.master_artisan value=master_artisan}}
        </div>
        <div class="flex-container">
            {{formField fields.parents value=parents}}
            {{formField fields.friend value=friend}}
            {{formField fields.enemy value=enemy}}
        </div>
    </section>
    <section>
        <div class="flex-container">
            <div>
                <label>Instinct</label>
                <textarea name="system.instinct">{{~instinct}}</textarea>
            </div>
            <div>
                <label>Belief</label>
                <textarea name="system.belief">{{~belief}}</textarea>
            </div>
            <div>
                <label>Goal</label>
                <textarea name="system.goal">{{~goal}}</textarea>
            </div>
        </div>
    </section>
    <section>
        <div class="flex-container abilities">
            {{formField fields.health value=health}}
            {{formField fields.will value=will}}
            <div class="nature">
                <label for="nature_current">Nature</label>
                <span><input
                        name="system.nature.current"
                        type="number"
                        value="{{nature.current}}"
                        min="0"
                        max="7"
                        id="nature_current"
                    /></span>
                <span class="slash"> / </span>
                <span>
                    <input
                        name="system.nature.max"
                        type="number"
                        value="{{nature.max}}"
                        min="0"
                        max="7"
                        id="nature_max"
                    /></span>
            </div>
        </div>
        <div class="flex-container abilities">
            {{formField fields.resources value=resources}}
            {{formField fields.circles value=circles}}
        </div>
    </section>
    <section>
        <div class="flex-container">
            {{formField fields.fate value=fate}}
            {{formField fields.persona value=persona}}
            {{formField fields.checks value=checks}}
        </div>
    </section>
    <section>
        <label>Bio</label>
        {{formInput fields.bio value=bio.text enriched=bio.enriched height=300}}
        <!--
        {{editor
            bio.enriched
            target=bio.text
            button=true
            engine="prosemirror"
            editable=true
            collaborate=false
        }}
        -->
    </section>
    <section><!-- should support drag and drop -->
        <table>
            <tr>
                <th style="text-align: left">Skills</th>
                <th>Rating</th>
                <th>Passes/Fails</th>
                <th style="text-align: right"><i class="fas fa-plus"></i></th>
            </tr>
            {{#each skills as |s|}}
                <tr>
                    <td>{{s.skill}}</td>
                    <td>
                        <input
                            type="number"
                            max="6"
                            min="0"
                            step="1"
                            value="{{s.rating}}"
                            class="skill-rating"
                        />
                    </td>
                    <td>P: {{s.passes}}; F: {{s.fails}}</td>
                    <td style="text-align: right"><span><i
                                class="fas fa-trash"
                            ></i></span></td>
                </tr>
            {{/each}}
        </table>
    </section>
    <section>
        <table>
            <tr>
                <th style="text-align: left">Traits</th>
                <th>Level</th>
                <th>For/Against</th>
                <th style="text-align: right"><i class="fas fa-plus"></i></th>
            </tr>
            {{#each traits as |t|}}
                <tr>
                    <td>{{t.trait}}</td>
                    <td>
                        <input
                            type="number"
                            max="6"
                            min="0"
                            step="1"
                            name="system.traits.level"
                            value="{{t.level}}"
                        />
                    </td>
                    <td>F: {{t.for}}; A: {{t.against}}</td>
                    <td style="text-align: right"><span><i
                                class="fas fa-trash"
                            ></i></span></td>
                </tr>
            {{/each}}
        </table>
    </section>
    <section>
        <!-- Maybe take a look: https://discord.com/channels/170995199584108546/670336275496042502/1329202960747466874 -->
        <table>
            <tr>
                <th style="text-align: left">Wises</th>
                <th>Pass</th>
                <th>Fail</th>
                <th>Fate</th>
                <th>Persona</th>
                <th style="text-align: right"><i class="fas fa-plus"></i></th>
            </tr>
            {{#each wises as |w|}}
                <tr>
                    <td>{{w.wise}}</td>
                    <td><input
                            type="checkbox"
                            value="pass"
                            {{checked w.pass}}
                        /></td>
                    <td><input
                            type="checkbox"
                            value="fail"
                            {{checked w.fail}}
                        /></td>
                    <td><input
                            type="checkbox"
                            value="fate"
                            {{checked w.fate}}
                        /></td>
                    <td><input
                            type="checkbox"
                            value="persona"
                            {{checked w.persona}}
                        /></td>
                    <td style="text-align: right"><span><i
                                class="fas fa-trash"
                            ></i></span></td>
                </tr>
            {{/each}}
        </table>
    </section>
</div>