<div class="sheet">
    <header>
        {{formField fields.name value=name}}
    </header>
    <section>
        <label>Description</label>
        {{formInput
            fields.description
            value=description.text
            enriched=description.enriched
            height=300
        }}
    </section>
    <footer>
        <!-- TODO Image should be optional. -->
        <div class="flex-container">
            <img
                src="{{img}}"
                alt="{{name}}"
                data-edit="img"
                data-action="editImage"
                title="{{name}}"
                height="100"
                width="100"
            />
        </div>
    </footer>
</div>